<h1>Listing users</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td>
        <% if can? :see_email, user %>
          <%= user.email %>
        <% end %>
      </td>
      <td><%= link_to 'Show', user %></td>
      <% if can? :update, user  %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
      <% if can? :destroy, user %>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>