<p id="notice"><%= notice %></p>

<p> Arvostellut <%=  @user.ratings.count %> ravintolaa.</p>
<p> Kirjoittanut <%= @user.comments.count %> kommenttia. </p>
<p> Tykkää:
<ul>
  <%@user.likes.each do |like|%>
    <li>
      <%= link_to like.restaurant.name, like.restaurant%>
    </li>
  <% end %>
</ul>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<% if can? :see_email, @user %>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
<%  end %>
<% if can? :edit, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<%  end %>
<%= link_to 'Back', users_path %>
