<p id="notice"><%= notice %></p>

<h3>Käyttäjä <%= @user.username %></h3>
<p> Arvostellut <%=  @user.rated_restaurants.count %> ravintolaa.</p>
<p> Kirjoittanut <%= @user.comments.count %> kommenttia. </p>
<p> Tykkää:

<h1> <%=@user.username%></h1>
<p>
  <%= render :partial => 'user_stats', :locals => {:user => @user} %>
</p>

<h2> Suosikit (<%=@user.likes.count%>): </h2>
<ul>
  <%=  render :partial => 'favorite_restaurant', :collection => @user.liked_restaurants, :as => :restaurant%>
</ul>

<h2> Arvostelut (<%=@user.ratings.count%>): </h2>
<ul>
  <%= render :partial => 'rating', :collection => @user.ratings%>
</ul>

<h2> Lisätyt annokset (<%= @user.portions.count %>): </h2>
<ul>
  <%= render :partial => 'shared/portion', :collection => @user.portions, :locals => {:link_to_restaurant => true} %>
</ul>
<% if can? :see_email, @user %>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
<%  end %>
<% if can? :edit, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<%  end %>
<%= link_to 'Back', users_path %>
