<div class="menu">
	<div class="logo">
		Veggie logo tulee tähän
		<p>
			<%= link_to "Ravintolat", restaurants_path %>
		</p>
		<p>
			Haku tulee tähän. 
		</p>
		</div>
		
		<div class="city">
		   	 
			<% form_tag(:change_city, :remote => true) do %>
			
				<%= select_tag :city, options_for_select(%w{Helsinki Tampere}, session[:city]) %>
				<%= submit_tag 'submittail' %>
				
			<% end %>
			
			city in session : <%= session[:city] %>
		</div>
		
		<div class="add_restaurant">
			Eikö ravintolaasi löydy vielä Veggiestä?<br>
			<%= link_to "Lisää ravintola", new_restaurant_path %>			
		</div>
	
</div>