<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
	<%= fields_for :branches do |branch| %>
    <%= branch.label :street %><br />
    <%= branch.text_field :street %>
		
    <%= branch.label :city %><br />
    <%= branch.text_field :city %>

    <%= branch.label :hours %><br />
    <%= branch.text_field :hours %>

    <%= branch.label :phone %><br />
    <%= branch.text_field :phone %>

    <%= branch.label :email %><br />
    <%= branch.text_field :email %>

	<% end %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
