<h1>Listing restaurants</h1>

<h2> Ruoka top-5 </h2>
<%=render :partial =>'toplist', :collection => @top_food%>
<h2> Palvelu top-5 </h2>
<%=render :partial =>'toplist', :collection => @top_service%>
<h2> Miljöö top-5 </h2>
<%=render :partial =>'toplist', :collection => @top_environment%>


<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Website</th>
    <th>Info</th>
    <th>Puhelin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.user_id %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.website %></td>
      <td><%= restaurant.info %></td>
      <td><%= restaurant.branches[0].phone %></td>
      <td><%= link_to 'Show', restaurant %></td>
      <%if can? :update, restaurant%>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <%end%>
      <%if can? :destroy, restaurant%>
        <td><%= link_to 'Destroy', restaurant, :confirm => 'Are you sure?', :method => :delete %></td>
      <%end%>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
