<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @restaurant.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Website:</b>
  <%= @restaurant.website %>
</p>

<p>
  <b>Info:</b>
  <%= @restaurant.info %>
</p>

<p>
  <b>Hours:</b>
  <%= @restaurant.hours %>
</p>

<p>
  <b>Portions:</b>
  <%= render :partial => 'portion', :collection => @restaurant.portions %>
</p>

<p>
  <%= link_to 'Add portion', new_restaurant_portion_path(@restaurant)  %>
</p>



<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
