<p id="notice"><%= notice %></p>

<p>
<h1><%= @restaurant.name %></h1>  <%= render :partial => "shared/like", :locals => { :restaurant => @restaurant } %>
</p>

<!-- Branch address etc. partial here -->

<p>
  <b>Added by:</b>
  <% unless @restaurant.user == nil %>
    <%= @restaurant.username %>
  <% end %>
</p>

<p>
  <b>Website:</b>
  <%= @restaurant.website %>
</p>

<p>
  <b>Info:</b>
  <%= @restaurant.info %>
</p

<p>
  <b>Puhelin:</b>
  <%= @restaurant.phone %>
</p

<div id ="ratings">
  <%= render :partial => 'average_rating', :locals => {:food => @food, :service => @service, :environment => @environment} %>
</div>

<% content_for :script do %>
  <%= javascript_include_tag 'ratingscripts.js'  %>
<% end %>
<div id="ratings_notice"></div>

<div id ="ratings_form">
  <%= render :partial =>'ratings/form' %>
</div>
<button type="button" id="add_review">
  <%if @restaurant.raters.include?(current_user)%>
    Muokkaa arvosteluasi
  <%else%>
    Lisää oma arvostelu
  <%end%>
</button>

<p>
  <b>Portions:</b>
  <%= render :partial => 'shared/portion', :collection => @restaurant.portions, :locals => {:link_to_restaurant => false} %>
</p>
<p>
  <%= link_to 'Add portion', new_restaurant_portion_path(@restaurant)  %>
</p>

<p>
  <b>Tags:</b>
  <!-- <%= @restaurant.tag_list %> -->

  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
  <% end %>

  <%= form_tag({:controller => restaurants_path, :action => 'add_tags'}, :method => 'post') do %>
    <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:taglist, "Add tags:") %>
  <%= text_field_tag(:taglist) %>
  <%= submit_tag("Add") %>
<% end %>

</p>
<p>
  <b> Kuvat: </b>
  <%@restaurant.restaurant_images.each do |image|%>
    <%= image_tag image.photo.url(:small) %>
  <% end %>
</p>

<p>
  <b>Kommentit:</b>
  <span id="comments_count"><%= pluralize(@restaurant.comments.count, "Comment") %></span>
<div id="comments">
  <%= render :partial => @restaurant.comments, :locals => { :list => true } %>
</div>
</p>

<div id="comment-notice"></div>

<h2>Lisää oma kommenttisi</h2>
<%= form_for [@restaurant, Comment.new], :remote => true do |f| %>
  <%= f.label :comment, "Kommentti" %><br />
  <%= f.text_area :comment, :rows => 8 %><br />
  <%= f.submit "Lähetä" %>
<% end %>

<%= link_to "Lisää kommentti", new_restaurant_comment_path(@restaurant) %>

<% if can? :edit, @restaurant %>
  <%= link_to 'Muokkaa ravintolan tietoja', edit_restaurant_path(@restaurant) %> |
<%  end %>
<%= link_to 'Kaikki ravintolat', restaurants_path %>
