<p id="notice"><%= notice %></p>

<p>
<h1><%= @restaurant.name %></h1>  <%= render :partial => "shared/like", :locals => { :restaurant => @restaurant } %>
</p>

<!-- Branch address etc. partial here -->

<p>
  <b>Added by:</b>
  <% unless @restaurant.user == nil %>
    <%= @restaurant.username %>
  <% end %>
</p>

<p>
  <b>Website:</b>
  <%= @restaurant.website %>
</p>

<p>
  <b>Info:</b>
  <%= @restaurant.info %>
</p

<p>
  <b>Puhelin:</b>
  <%= @restaurant.phone %>
</p

<p>
  <b>Ruoka:</b>
  <%= @food %>
  <b>Palvelu:</b>
  <%= @service %>
  <b>Tunnelma:</b>
  <%= @environment %>
</p
<p>
  <%= link_to "Add review", new_restaurant_rating_path(@restaurant) %>
</p>

<p>
  <b>Portions:</b>
  <%= render :partial => 'shared/portion', :collection => @restaurant.portions %>
</p>
<p>
  <%= link_to 'Add portion', new_restaurant_portion_path(@restaurant)  %>
</p>

<p>
  <b>Tags:</b>
  <!-- <%= @restaurant.tag_list %> -->

  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
  <% end %>

  <%= form_tag({:controller => restaurants_path, :action => 'add_tags'}, :method => "get") do %>

    <%= label_tag(:taglist, "Add tags:") %>
    <%= text_field_tag(:taglist) %>
    <%= submit_tag("Add") %>
  <% end %>

</p>
<p>
  <b>Kommentit:</b>
  <%= render :partial => 'shared/comment', :collection => @restaurant.comments%>
</p>

<p>  <%=link_to "Lisää kommentti", new_restaurant_comment_path(@restaurant)%> </p>

<% if can? :edit, @restaurant %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%  end %>
<%= link_to 'Back', restaurants_path %>
