<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <% unless @restaurant.user == nil %>
	   <%= @restaurant.user.username %>
	<% end %>
</p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @restaurant.website %>
</p>

<p>
  <b>Info:</b>
  <%= @restaurant.info %>
</p

<p>
  <b>Hours:</b>
  <%= @restaurant.hours %>
</p>

<p>
  <b>Portions:</b>
  <%= render :partial => 'portion', :collection => @restaurant.portions %>
</p>

<p>
  <b>Tags:</b>
  <!-- <%= @restaurant.tag_list %> -->

  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
  <% end %>

  <%= form_tag({:controller => restaurants_path, :action => 'add_tags'}, :method => "get") do %>

    <%= label_tag(:taglist, "Add tags:") %>
    <%= text_field_tag(:taglist) %>
    <%= submit_tag("Add") %>
  <% end %>

</p>

<p>
  <%= link_to 'Add portion', new_restaurant_portion_path(@restaurant)  %>
</p>

<p>
  <b>Reviews:</b
  <%= render :partial => 'review', :collection => @restaurant.reviews %>
</p>
<p>
  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
