<!DOCTYPE html>
<html>
<head>
  <title>Veggie</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<%= javascript_include_tag 'prototype' %>
</head>
<body>
	
	<div id="notice">
		<p id="notice"><%= notice %></p>
	</div>

			
	<div>
		Olet täällä: 
		<%= render_crumbs %>
	</div>
	
	<%= render "shared/menu" %>
	<p>
  <div id="nav">
		<% if current_user %>
			Moi <%= current_user.username %>! 
      <%= link_to "Muokkaa profiilia", edit_user_path(current_user.id)%>
			<%= link_to "Kirjaudu ulos", :logout %>
		<% else %>    	
			<!-- <%= link_to "Login", :login %> -->	
			<%= render 'user_sessions/form' %>
			tai <%= link_to "Luo profiili", new_user_path%>
			
		<% end %>
  </div>



<%= yield %>

</body>
</html>
